#
#  Copyright 2020 The VRC Authors. All rights reserved.
#  Use of this source code is governed by a BSD-style license that can be
#  found in the LICENSE.md file.
#

#  OSX general.
.DS_Store

#  Swift Package Manager
Package.resolved

#  Xcode SPM integration.
.swiftpm/xcode
